#entryBoxDiv {
  margin: auto;
  width: 75%;
  display: none;
}
#entryBox {
  font-size: 3em;
  width: 100%;
  font-family: sans-serif;
}
#logoInfo {
  margin: auto;
  width: 75%;
}

#notFound {
  display: none;
}

#unavailable {
  margin: auto;
  text-align: center;
  font-size: 2em;
  display: none;
  border: solid 3px red;
  width: 50%;
  border-radius: 20px;
  padding: 10px;
}

/* Table */
#infoTable {
  width: 50%;
  margin: auto;
  padding-top: 2em;
  display: none;
  border-collapse:collapse;
}
th {
  text-align: left;
  border: solid 1px grey;
}
td {
  text-align: center;
  border: solid 1px grey;
  padding: 3px;
}
.tHeader {
  text-align: center;
  padding: 5px;
  background-color: lightgrey;
}

main{
            background-color: silver;
            padding: 1rem;
            min-width: 400px;
	max-width: 1000px;
            /* width means fixed */
	margin-left: auto;
	margin-right: auto;
        }
        main p{
            margin: 1rem auto;
            background-color: silver;
            padding: 1rem;
        }
        main p:nth-child(1){
            min-width: 400px;
            
        }
        main p:nth-child(2){
            max-width: 1500px;
            
        }
	main ol{
            margin: 1rem auto;
            background-color: silver;
            padding: 1rem;
        }
	main ol:nth-child(1){
            min-width: 400px;
            
        }
        main ol:nth-child(2){
            max-width: 1500px;
            
        }
	main h3{
            margin: 1rem auto;
            background-color: dimgrey;
		color: Gainsboro;
            padding: 1rem;
        }
	mainbody h3:nth-child(1){
            min-width: 400px;
            
        }
        main h3:nth-child(2){
            max-width: 1500px;
            
        }
	main img{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	header{
            background-color: #da1e28;
            padding: 1rem;
            min-width: 400px;
	max-width: 1000px;
            /* width means fixed */
	margin: auto;
	
        }
	header h1{
		margin: auto;
	
		 
            background-color: #da1e28;
		color: black;
            
	}
	header h1:nth-child(1){
            min-width: 400px;
            
        }
        header h1:nth-child(2){
            max-width: 1500px;
	}
	header h4{
		margin: auto;
		
		background-color: #da1e28;
		color: black;
	}
header h4:nth-child(1){
            min-width: 400px;
            
        }
        header h4:nth-child(2){
            max-width: 1500px;
	}
